.red {
  color: red;
  font-family: 'sans-serif New', sans-serif, monospace;
  font-weight: bold;
}

.orange {
  color: orange;
  font-family: 'sans-serif New', sans-serif, monospace;
  font-weight: bold;
}

.green {
  color: green;
  font-family: 'sans-serif New', sans-serif, monospace;
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 100px;
}