.body {
  background-color: #FFFFF3;
}

.red {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.orange {
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.green {
  color: green;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 100px;
}